@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    height: 100%;
}

body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99;
}

.sidebar.active{
    transition: all 0.5s ease;
    width: 240px;
    z-index: 99;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s ease;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 55%;
    top: 6px;
    font-size: 20px;
    height: 43px;
    width: 43px;
    text-align: center;
    line-height: 43px;
    border-radius: 12px;
    transform: translateX(-50%); 
    transition: all 0.5s ease;
}

.sidebar #btn:hover{ 
    background: #fff;
    color: #11101d;
}

.sidebar.active #btn{
    left: 90%;
    transition: all 0.5s ease;
} 

.sidebar ul{
    margin-top: 10px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    height: 35px;
    width: 122px;
    border-radius: 6px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.active ul li .bx-search:hover{
    color: #fff;
    background: #1d1b31;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease; 
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile{
    background: #1d1b31;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 99%;
    line-height: 50px;
    font-size: 20px;
    background: #1d1b31;
    text-align: center;
}

.sidebar.active .profile #log_out{
    left: 88%;
}

.sidebar.active .profile #log_out{
    background: none;
}

.home_content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content.main_page{
    background:linear-gradient(to top,#004B97,#003060);
}

.home_content.main_page .text{
    -webkit-text-stroke: 0.5px #019858;
    font-size: 100px;
    color:#1d1b31;
    position: relative;
    left: calc(50% - 178px);
    top: 20%;
}

.home_content.main_page .jump_log{
    position: absolute;
    height: 70px;
    width: 200px;
    top: 40%;
    left: calc(50% - 78px);
    background-color: black;
    border: 2px solid red;
    border-radius: 60px;
    color: #fff;
    font-size: 30px;
    transition: 0.5s;
}

.home_content.main_page .jump_log:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.home_content .good{
    position: relative;
    margin: 5px 20px;
    top: 20px;
}

.home_content .good span{
    opacity: 0;
    color: #fff;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.3);
    right: 0.5px;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 170px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.home_content .good span:hover{
  transition: all 0.5s ease;
  opacity: 1;
}

.home_content img{
    width: 300px;
    height: 200px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.home_content .order,.home_content .order_ready{
    position: fixed;
    left: calc(50% - 200px);
    top: 10%;
    background-color: black;
    width: 400px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.home_content .order.active{
    opacity: 1;
    z-index: 99;
    transition: all 0.5s ease;
}

.home_content .order_ready.active{
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 99;
    overflow-y: scroll;
    background: #fff;
    border: 5px solid #FF359A;
}

.home_content .order .info img{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 150px;
}

.home_content .order .info .price{
    position: absolute;
    color: #fff;
    font-size: 35px;
    top: 120px;
    left: 270px;
}

.home_content .order .info .ordername{
    position: absolute;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    width: 100px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    top: 20px;
    left: 260px;
}

.home_content .order .num{
    position: absolute;
    width: 100px;
    height: 30px;
    top: 290px;
    background: none;
    border: 3px solid #fff;
    outline: none;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    left: 80px;
    transition: all 0.5s;
}

.home_content .order .num:focus{
    position: absolute;
    width: 200px;
    left: 30px;
}

.home_content .order .orderbtn{
    position: absolute;
    background-color: black;
    border: 2px solid red;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    width: 100px;
    height: 30px;
    bottom: 178px;
    left: 270px;
    transition: all 0.5s;
}

.home_content .order .orderbtn:hover{
    background-color:#4169e1;
}

.home_content .bx-cart{
    position: fixed;
    font-size: 50px;
    text-align: left;
    padding: 10px;
    background: #FF359A;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    left: calc(100% - 90px);
    top: calc(100% - 90px);
    transition: 0.5s;
}

.home_content .bx-cart:hover{
    background: #11101d;
    color: #fff;
    transition: 0.5s;
}

.home_content.log{
    background:linear-gradient(to top,#004B97,#003060);
}

.home_content.log #myForm{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 2px solid #11101d;
    justify-content: center;
    align-content: flex-start;
    width: 250px;
    height: 300px;
    top: calc(40% - 150px);
    left: calc(50% - 150px);
}

.home_content.log #myForm .user{
    position: relative;
    height: 50px;
    width: 200px;
    padding: 15px;
    margin: 15px;
    background: none;
    outline: none;
    border: 3px solid #AE0000;
    border-radius: 24px;
    font-size: 20px;
    color: #2894FF;
}

.home_content.log #myForm .pass{
    position: relative;
    height: 50px;
    width: 200px;
    padding: 15px;
    margin: 15px;
    background: none;
    outline: none;
    border: 3px solid #AE0000;
    border-radius: 24px;
    font-size: 20px;
    color: #2894FF;
}

.home_content.log #myForm .logbtn{
    position: relative;
    height: 45px;
    width: 100px;
    margin: 15px;
    background: none;
    outline: none;
    border: 3px solid #AE0000;
    border-radius: 24px;
    font-size: 20px;
    color: #2894FF;
    transition: 0.5s;
}

.home_content.log #myForm .logbtn:hover{
    background: #fff;
    color: black;
    transition: 0.5s;
}

.home_content.log #myForm #sign{
    position: absolute;
    height: 30px;
    width: 100px;
    outline: none;
    background: none;
    border: none;
    left: calc(100% - 50px);
    top: calc(100% - 30px);
    font-size: 15px;
    color: #2894FF;
}

.signbtn
{
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background: #fff;
    padding: 5px;
    margin-left: 69%;
    position: relative;
    top: 20px;
}

.home_content .order_ready .orderlist{
    width: 100%;
    height: 120px;
}

th{
    text-align: left;
}

.home_content .order_ready .orderlist .ordertitle{
    height: 70px;
    font-size: 30px;
    padding: 10px;
}